@import "tailwindcss";
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/* index.css or App.css */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #00bcd4;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0097a7;
}
